{% extends 'oef-raadgetal-basis-template.html.twig' %}

{% block hoofd %}

{% endblock hoofd %}  

{% block content %}
  <div class="inhoud">
    <h1>Raad een getal</h1>
    <div class="instructies">
      <p>
        Raad een getal tussen 1 en 10 !
      </p>
    </div>

    <div class="uitvoer">
      ?
    </div>

    <div class="invoer">
      {# <pre>        
         {{ dump(_context|keys) }}        
       </pre>#}
      {% if mijn_form is defined %}
        <form {{ attributes }}>
          {{ form.form_build_id }}
          {{ form.form_token }}
          {{ form.form_id }}
          {#          <pre>{{ dump(mijn_form|keys) }}</pre>#}
          <div class="form-group">
            {{ mijn_form.getal.title }}
            {{ mijn_form.getal }}
          </div>
          <div class="form-group">

            {{ mijn_form.actions.submit }}
          </div>
        </form>
      {% else %}
        <div>Er is een probleem met de form.</div>
      {% endif %}
    </div>
  </div>

{% endblock content %}