{% extends 'oef-raadgetal-basis-template.html.twig' %}

{% block hoofd %}

{% endblock hoofd %}  

{% block content %}
  <div class="inhoud">
    <h1>Raad een getal</h1>
    <div class="instructies">
      <p>
        Raad een getal tussen 1 en 10 !
      </p>
    </div>

    <div class="uitvoer">
      <div class="uitvoer-getal">GETAL: {{ services.get_getal }}</div>
      <div class="uitvoer-pogingen">POGINGEN: {{ services.get_pogingen }}</div>
    </div>

    <div class="invoer">
      
      <div class="reset">
        <a href="/oef/reset">Reset spel</a>
      </div>
      
      {% if mijn_form is defined %}
        <form 
          {{ attributes.addClass('oef-raadgetal-form') }} 
{#          {{ attributes.setAttribute('novalidate','novalidate') }}#}
          {{ attributes.setAttribute('data-drupal-selector','oef-raadgetal-form') }}          
          {{ attributes.setAttribute('action','/oef/start') }}
          {{ attributes.setAttribute('method','post') }}
          {{ attributes.setAttribute('data-drupal-form-fields','edit-getal,edit-submit') }}
          >
          
      {#<pre>        
        {{ dump(_context|keys) }}        
      </pre>#}
      
          {{ mijn_form.form_build_id }}
          {{ mijn_form.form_token }}
          {{ mijn_form.form_id }}

          <div class="form-group">
            {{ mijn_form.getal.title }}
            {{ mijn_form.getal }}
          </div>
          <div class="form-group">

            {{ mijn_form.actions.submit }}
          </div>
        </form>
      {% else %}
        <div>Er is een probleem met de form.</div>
      {% endif %}
    </div>
  </div>

{% endblock content %}